.search-filters{
    display: flex;
    margin-bottom: 20px;
}
.search-filters .filter-flex{
    display: flex;
    align-items: center;
}

.search-filters .dropdown-container{
    width: 22%;
}
.select-dropdown{
    width: 100%;

    position: relative;
}
.toggle-dropdown{
    border: solid 1px #000000;
    height: 30px;
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.select-dropdown span{
    line-height: 30px;
    margin-left: 5%;
}
.select-dropdown img{
    margin-right: 5%;
    height: 80%;
}
.selection{
    position: absolute;
    width:90%;
    margin-top:32px;
    left:0;
    top:0;

    background-color: #FFFFFF;
    border:solid 1px black;
    max-height: 300px;
    overflow-y: auto;
}
.select-item{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0 1% 0;
}
.select-item:hover{
    color:#FFFFFF;
    background-color: #000000;
}
.select-item:hover .checkbox{
    border-color:#FFFFFF;
}
.select-item .checkbox{
    margin-right:5%;
    width:10px;
    height:10px;
    border: solid 1px #000000;
    background-color: #FFFFFF;
}
.select-item .checkbox.selected{
    background-color: #000000;
}

.hide{
    display: none;
}


.search-filters .date{
    width: 22%;
}
.search-filters .date div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-select{
    width: 70%;
    height: 25px;
    padding: 0px;
}

.search-filters .search-button{
    width: 12%;
    border: solid 1px #000000;
    text-transform: uppercase;
    text-align: center;
    padding: 1% 0;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}
.search-filters .search-button:hover{
    color: #FFFFFF;
    background-color: #000000;
}
.search-filters .search-button:hover img{
    filter: invert(95%) sepia(95%) saturate(19%) hue-rotate(311deg) brightness(104%) contrast(105%);
}

.w-90{
    width: 90%;
}

.table-container{
    display: flex;
    flex-direction:column;
}
.table-row{
    display: flex;
}
.table-cell{
    width: 20%;
    padding: 1% 1%;

    border-left: solid 1px black;
    border-top: solid 1px black;
    
}
.table-cell:last-child{
    border-right: solid 1px black;
} 
.table-row:last-child .table-cell{
    border-bottom: solid 1px black;
}
.table-cell.source{
    width: 8%;
    overflow-y: auto;
}
.table-cell.title{
    width: 12%;
}
.table-cell.description{
    width: 25%;
}
.table-cell.url{
    width: 15%;
    overflow-y: auto;
}
.table-cell.gpt{
    width: 40%;
    overflow-y: auto;
}
.summarize-button{
    padding: 2%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    width: 25%;
    cursor: pointer;
}
.summarize-button:hover{
    color: #FFFFFF;
    background-color: #000000;
}
.no-result{
    border-top: solid 1px black;
    padding: 1%;
}

.loading{
    width:25px;
    height:25px;
    animation: loading 2s infinite linear;
}

@keyframes loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
    

body{
    overflow: auto;
}